
@import 'normalize'

// more info https://github.com/juliancwirko/s-grid
@import 's-grid-settings'
@import 's-grid-functions'
// @import 's-grid-classes' if needed

@import 'settings'
@import 'helpers'

@import 'spinner'


.container
    max-width rem-calc(1000)
    margin 0 auto

.header
    height rem-calc(80)
    line-height rem-calc(80)

.custom-grid
    grid()
    .custom-cell
        cell(1, 2)
        +below(rem-calc(768))
            cell(1, 1)