@import '../../styles/normalize'

@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

@import '../../styles/settings'

.container
    center(1000px)

.header
    height rem-calc(80)
    line-height rem-calc(80)

.hmrTest
    color red
