
@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

@import '../../styles/settings'

.spacing
    padding-top rem-calc(25)
    padding-bottom rem-calc(25)

.custom-grid
    grid(cells-align: 'center')
    .custom-cell
        cell(1, 2)
        a
            color color-main-contrast
        +below(rem-calc(768))
            stack()